<!DOCTYPE html>
<html>
<head>
  <title>FunF</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  	
	  	<div class="container-fluid">
		    
		    <div class="navbar-header">
				
				<a class="navbar-brand" href="<%= root_path %>">FORTUNATELY / unFORTUNATELY</a>
		    
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	
		      	<ul class="nav navbar-nav">
			        <li class="<%= 'active' if params[:category] == "new"%>">
			        	<%= link_to "New Stories", stories_path(category: "new"), class: "link" %>
			    	</li>
			    	<li class="<%= 'active' if params[:category] == "continue"%>">
			        	<%= link_to "Continue a Story", stories_path(category: "continue"), class: "link" %>
			    	</li>
			    	<li class="<%= 'active' if params[:category] == "finished"%>">
			        	<%= link_to "Finished Stories", stories_path(category: "finished"), class: "link" %>
			    	</li>
		    	</ul>

		    	<ul class="nav navbar-nav navbar-right">
		        	<li>
		        		<button type="button" class="btn btn-default navbar-btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
  						How to play
  						</button>
  					</li>
					<li><%= link_to "Random Story ", story_path(@random_story_id), {method: :get} %></li>
				</ul>

			</div><!-- /.navbar-collapse -->
	  	
	  	</div><!-- /.container-fluid -->
	
	</nav>

	<br>
	<br>
	<div class="col-md-6 col-md-offset-3">
			
			<%= yield %>
		
	</div>

</body>
</html>
